/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/jam/bootstrap/css/bootstrap.css";

/*-- Application stylesheets. -----------------------------------------------*/

body {
    padding-top: 41px;
    min-width: 329px;
}

/*.gradient{*/
/*background: #E5E5E6; *//* Old browsers */
/*background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 50%, #f2f2f2 51%, #e3e3e5 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fafafa), color-stop(51%,#f2f2f2), color-stop(100%,#e3e3e5)); *//* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 50%,#f2f2f2 51%,#e3e3e5 100%); *//* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 50%,#f2f2f2 51%,#e3e3e5 100%); *//* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 50%,#f2f2f2 51%,#e3e3e5 100%); *//* IE10+ */
/*background: linear-gradient(top,  #ffffff 0%,#fafafa 50%,#f2f2f2 51%,#e3e3e5 100%); *//* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e5',GradientType=0 ); *//* IE6-9 */
/*}*/

.navbar-inverse .navbar-inner{
    color:#E5E5E6;
    padding-left: 20px;
    padding-right: 20px;
    background: #707170;
    background: -moz-linear-gradient(top,  #707170 0%, #424342 50%, #383938 51%, #383938 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707170), color-stop(50%,#424342), color-stop(51%,#383938), color-stop(100%,#383938));
    background: -webkit-linear-gradient(top,  #707170 0%,#424342 50%,#383938 51%,#383938 100%);
    background: -o-linear-gradient(top,  #707170 0%,#424342 50%,#383938 51%,#383938 100%);
    background: -ms-linear-gradient(top,  #707170 0%,#424342 50%,#383938 51%,#383938 100%);
    background: linear-gradient(top,  #707170 0%,#424342 50%,#383938 51%,#383938 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707170', endColorstr='#383938',GradientType=0 );
}

.page-header{
    height:38px;
    line-height: 38px;
    border-top: 1px solid #82858B;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    padding: 0;
    margin: 0;
    background: #555c64; /* Old browsers */
    background: -moz-linear-gradient(top,  #555c64 1%, #3d4248 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#555c64), color-stop(100%,#3d4248)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #555c64 1%,#3d4248 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #555c64 1%,#3d4248 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #555c64 1%,#3d4248 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #555c64 1%,#3d4248 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555c64', endColorstr='#3d4248',GradientType=0 ); /* IE6-9 */
}

.page-header h1{
    font-size:21px;
    line-height: 21px;
}

.page-header h1 span{
    font-weight: normal;
}

.tool-bar{
    margin-bottom: 0;
    background-color: #d7dbe4;
    border-top:1px solid #bbc0c8;
    border-bottom:1px solid #bbc0c8;
    height:65px;
    line-height: 65px;
}

.add-member{
    text-align: right;
}

.status {
    color:#8798ac;
    text-align: right;
    height:30px;
    line-height: 30px;
}

/*buttons */
.buttons {
    float: right;
}
/*
.btn{
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: linear-gradient(#ffffff, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}*/

/*.btn-primary{*/
    /*background-color: hsl(0, 0%, 16%) !important;*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");*/
    /*background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));*/
    /*background-image: -moz-linear-gradient(top, #5b5b5b, #282828);*/
    /*background-image: -ms-linear-gradient(top, #5b5b5b, #282828);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));*/
    /*background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);*/
    /*background-image: -o-linear-gradient(top, #5b5b5b, #282828);*/
    /*background-image: linear-gradient(#5b5b5b, #282828);*/
    /*border-color: #282828 #282828 hsl(0, 0%, 11%);*/
    /*color: #fff !important;*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);*/
    /*-webkit-font-smoothing: antialiased;*/
/*}*/

/*.arrow{*/
    /*background: url(../images/sprite-arrows.png) no-repeat;*/
    /*width:10px;*/
    /*height:14px;*/
    /*text-indent: -9999em;*/
    /*display: inline-block;*/
/*}*/

/*.arrow.next{*/
    /*background-position: 0 -20px;*/
/*}*/

.date{
    cursor: default;
    min-width: 250px;
}
/* end buttons */


/* tables*/
.table{
    border: 1px solid #c9ced2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead{
    background: #4a4f55; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a4f55 0%, #4a4f55 36%, #5a6169 36%, #585f67 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4f55), color-stop(36%,#4a4f55), color-stop(36%,#5a6169), color-stop(100%,#585f67)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a4f55 0%,#4a4f55 36%,#5a6169 36%,#585f67 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a4f55 0%,#4a4f55 36%,#5a6169 36%,#585f67 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a4f55 0%,#4a4f55 36%,#5a6169 36%,#585f67 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a4f55 0%,#4a4f55 36%,#5a6169 36%,#585f67 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4f55', endColorstr='#585f67',GradientType=0 ); /* IE6-9 */
    text-transform: uppercase;
    color:#fff;
    height: 92px;
    text-shadow: -1px -1px 2px #383b40;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

.table th strong,
.table td strong,
.table th em {
    font-style: normal;
    font-weight: bold;
    display: block;
}

.table div{
    display: inline-block;
    width: 48%;
}

.table th:nth-child(n+4),
.table td:nth-child(n+4){
    text-align: center;
}

.table th:nth-child(n+5){
    border-left: 1px solid #3a3f45;
}

.table td:nth-child(n+5){
    border-left: 1px solid #ddd;
}

.calendar-nav{
    text-align: center;
}

.alert{
    text-align: center;
    margin: 20px 0 0;
}

.alert strong{
    font-size: 1.4rem;
}

.sort{
    cursor: pointer;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (min-width: 980px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body{
        padding: 0;
    }
    .container {
        margin: 0 10px;
    }
    .tool-bar-phone{
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #d7dbe4;
        border-top: 1px solid #EBEEF2;
        border-bottom: 1px solid #bbc0c8;
    }
    .buttons {
        float: none;
    }

    .buttons .btn{
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 6px;
    }
    .status {
        text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}


/* Print */
@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}


