extends layout
block content
    div#pageWrapper
        div.page
            nav(class='navbar navbar-inverse navbar-fixed-top main-nav')
                div.navbar-inner
                    div.container
                        button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(class="pt-logo", href="/Dashboard/Home", data-bypass="true")
                        div(class="nav-collapse collapse" id="navCollapse")
                            ul.nav
                                li
                                    a(href="/Dashboard/Home", data-bypass="true")
                                        i.icon-home
                                            Home
                                li
                                    a(href="/clients/List/Search", data-bypass="true")
                                        i.icon-search
                                            Search
                                li#jqCalenderNav
                                    a(href="/schedule/day", data-bypass="true")
                                        i.icon-calendar
                                            Calendar
                                li
                                    a(href="/clients/List", data-bypass="true")
                                        i.icon-user
                                            Clients
                                li#jqProjectionsNav
                                    a(href="/projections/")
                                        i.icon-road
                                            Projections
                                li
                                    a(href="/notifications/Home", data-bypass="true")
                                        i.icon-bullhorn
                                            Alerts
                                li(data-toggle="collapse", data-target=".nav-collapse",  class="hidden-desktop")
                                    a(href="/settings")
                                        i.icon-cog
                                            Settings
                                li.hidden-desktop
                                    a(href="/logout", data-bypass="true")
                                        i.icon-off
                                            Sign Out

                            ul(class="nav pull-right  visible-desktop")
                                li.dropdown
                                    a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-bypass="true") Hi,
                                        strong
                                            span#spnShowFirstName
                                            span.caret
                                    ul.dropdown-menu
                                        li(class="pane-user-info clearfix")
                                            div(class="user-avatar" id="user-avatar" style="background:url('/Resources/Images/user.png') no-repeat;")
                                                div.user-detail
                                                    h5
                                                        strong
                                                            span#spnFirstName
                                                        br
                                                        span#spnLastName

                                                    p
                                                        span#spnEmail

                                        li.divider
                                        li.nav-header
                                            span
                                                i.icon-cog
                                                    strong  Settings
                                        li.nav-header-link
                                            a(href="/settings/availability") My Availability
                                        li.nav-header-link
                                            a(href="/settings/contact") My Contact Info
                                        li.divider
                                        li
                                            a(href="/logout", data-bypass="true")
                                                i.icon-off
                                                    strong  Sign Out
                            //            <!--/.nav-collapse -->
            section(role="main" id="main")

            footer.full-width
                div.container
                    a(href="/feedback", data-bypass="true") Feedback |
                    a(href="/faq" data-bypass="true") FAQ | Equinox @ 2014

block script
    script(data-main="/apps/equifit/app/config", src="/apps/equifit/bower_components/requirejs/require.js")

    //script(src="/apps/equifit/dist/templates.min.js")
    //script(src="/apps/equifit/dist/source.min.js")