doctype html
html
    head
        title= title
        //link(rel="stylesheet", href="/dist/index.min.css", media="all", type="text/css")
        link(rel="stylesheet", href="/styles/index.css", media="all", type="text/css")
    body
        block content
        block script