doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/app/styles/index.css", media="all", type="text/css")
        link(rel="stylesheet", href="/app/styles/equifit.css")
    body
        block content
        script(data-main="/app/config", src="/bower_components/requirejs/require.js")