doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/styles/index.css", media="all", type="text/css")
        link(rel="stylesheet", href="/styles/equifit.css")
    body
        block content
        block script