<% if (_.isEqual(slug, 'equifit')) { %>
<ul class="breadcrumb">
    <li><a href="/clients/client/<%- clientId %>" data-bypass="true"><%- clientName %></a> <span class="divider">&gt;</span></li>
</ul>

<% }
    else if (_.isEqual(slug, 'forms')) {
%>
<ul class="breadcrumb">
    <li><a href="/clients/client/<%- clientId %>" data-bypass="true"><%- clientName %></a> <span class="divider">&gt;</span></li>
    <li><a href="#" data-url="client/<%- clientId %>">Equifits</a> <span class="divider">&gt;</span></li>
</ul>

<% }
    else if (_.isEqual(slug, 'form')) {
%>
<ul class="breadcrumb">
    <li><a href="/clients/client/<%- clientId %>" data-bypass="true"><%- clientName %></a> <span class="divider">&gt;</span></li>
    <li><a href="#" data-url="client/<%- clientId %>">Equifits</a> <span class="divider">&gt;</span></li>
    <li><a href="#" data-url="client/<%- clientId %>/equifit/<%= equifitId %>"><%= equifitName %></a> <span class="divider">&gt;</span></li>
</ul>

<% } else {} %>