<div class="row-fluid item" data-id="<%= id %>">
    <div class="span8">
        <% updatedAt && print('<div class="muted"><small>Last modified on ' + updatedAt + '</small></div>') %>
        <h4><%= createdAt %>
            <% if(isComplete) { %>
            <span class="label label-success">complete</span>
            <% } else { %>
            <span class="label label-warning">in progress</span>
            <% } %>
        </h4>
        <p>by <%= trainerName %> @ <%= clubName %></p>
    </div>
    <div class="span4">
        <p><a href="#" class="viewClientReport">view client report</a>
           &nbsp;&nbsp;&nbsp;
            <a href="#" class="printForm">print</a>
            &nbsp;&nbsp;&nbsp;
            <button class="pull-right btn btn-small submit">View</button>
        </p>
    </div>
</div>

<hr>