<div class="row-fluid item" data-id="<%= id %>">
    <div class="span8">
        <h4><%= createdAt %>
            <% if(complete) { %>
            <span class="label label-success">complete</span>
            <% } else { %>
            <span class="label label-warning">in progress</span>
            <% } %>
        </h4>
        <p>by <%= updatedBy %> @ <%= clubName %></p>
        <p><a href="#" class="viewClientReport">view client report</a> | <a href="#" class="printForm">print</a></p>
    </div>
    <div class="span4">
        <p><button class="btn btn-small submit">View</button></p>
        <% updatedAt && print('<div><p>Last modified on ' + updatedAt + '</p></div>') %>
    </div>
</div>

<hr>