<header class="page-header gradient-dark full-width">
    <h1>Equifit</h1>
</header>

<div class="row-fluid">
    <div class="span6">
        <ul class="breadcrumb">
            <li><a href="#"><%= memberName %></a> <span class="divider">|</span></li>
            <li><a href="/equifit" class="active">Equifits</a></li>
        </ul>
    </div>
    <div class="span6">
        <div class="btn-group pull-right">
            <button class="btn createNew">Create New</button>
            <a href="#" class="btn printBlankForm">Print Blank Form</a>
        </div>
    </div>
</div>
<section id="message"></section>
<section class="container row-fluid"></section>