<% if(!isValidated) { %>
<section class="row-fluid text-right">
    <button class="btn btn-primary submit">submit</button>
</section>
<% } %>

<ul class="nav nav-list">
    <% if(!isSigned) { %>
    <li>
        <a href="#" class="consentForm">Consent Form
            <span class="pull-right">
                <span class="badge">not signed</span>
                <i class="icon-chevron-right"></i>
            </span>
        </a>
    </li>
    <% } %>
</ul>

<section class="nav-jump-menu">
    <div class="btn-group dropup">
        <button class="btn">Jump to another section</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"></ul>
    </div>
</section>