<ul class="breadcrumb">
    <li><a href="/clients/client/<%- clientId %>" data-bypass="true"><%- clientName %></a> <span class="divider">&gt;</span></li>
    <li><a href="#" class="show-equifits">Equifits</a> <span class="divider">&gt;</span></li>
    <li><a href="#" class="show-equifit"><%- equifitName %></a> <span class="divider">&gt;</span></li>
</ul>

<section class="message"></section>
<section class="content"></section>
<section class="form"></section>

<section class="form-actions">
    <button type="button" class="visible-phone btn btn-primary btn-block btn-large update">Save</button>
    <button type="button" class="hidden-phone btn btn-primary pull-right update">Save</button>
</section>

<section class="nav-jump-menu">
    <div class="btn-group dropup">
        <button class="btn">Jump to another section</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left">
            <% _.each(forms, function(item) { %>
            <li><a href="#" class="show-form" data-id="<%- item._id %>"><%- item.title %></a></li>
            <% }); %>
        </ul>
    </div>
</section>