<section class="message"></section>
<section class="content"></section>
<section class="form"></section>

<section class="form-actions">
    <button type="button" class="visible-phone btn btn-primary btn-block btn-large update">Save</button>
    <button type="button" class="hidden-phone btn btn-primary pull-right update">Save</button>
</section>

<section class="nav-jump-menu">
    <div class="btn-group dropup">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            Jump to another section
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu text-left">
            <% _.each(documents, function(item) { %>
            <li><a href="#" class="show-form" data-template-id="<%- item.templateId %>" data-id="<%- item._id %>"><%- item.title %></a></li>
            <% }); %>
        </ul>
    </div>
</section>