<header class="page-header gradient-dark full-width">
    <h1><%= formName %></h1>
</header>

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="#"><%= memberName %></a> <span class="divider">|</span></li>
            <li><a href="/equifit">Equifits</a> <span class="divider">|</span></li>
            <li><a href="/equifit/edit/<%= equifitId %>"><%= date %></a> <span class="divider">|</span></li>
            <li><a href="/equifit/edit/<%= equifitId %>/forms/<%= formId %>" class="active"><%= formName %></a></li>
        </ul>
    </div>
</div>
<section id="message"></section>
<section class="container row-fluid"></section>