<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%- title %></h3>
    </div>
    <div class="modal-body">
        <% _.each(messages, function(message) { %>
            <p><strong><%= message.title %>:</strong> <span class="pull-right"><%- message.text %></span></p>
        <% }); %>
    </div>
    <div class="modal-footer">
        <% if(!isValidated) { %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary submit" data-validate="true">Submit Anyway</button>
        <% } else { %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <% } %>
    </div>
</div>

