<header class="page-header gradient-dark full-width">
    <h1>Equifit Forms</h1>
</header>

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="#">{Kelly Jackson}</a> <span class="divider">|</span></li>
            <li><a href="/equifit">Equifits</a> <span class="divider">|</span></li>
            <li><a href="/equifit/{id}" class="active">{Today if it is new July 6, 2014 or Date Created}</a></li>
        </ul>
    </div>
</div>
<section id="message"></section>
<section class="container row-fluid"></section>