.form-item {
    width: 45%;
    padding: 20px;
    background-color: #ccc;
    cursor: pointer;
    margin: 20px 20px 20px 0;
    box-sizing: border-box;
    float: left;
    border: 1px solid #999;
}

.form-item h4{
    text-transform: uppercase;
}

.form-item.complete{
    background-color: #E6FFCC;
    border: 1px solid #B8CCA3;
}