.header{
  margin-bottom: 20px;
}
.nav {
  margin: 20px 0 40px 0;

  .icon-chevron-right {
    margin-right: -6px;
    opacity: .25;
  }
}

.nav-jump-menu {
  background: #ccc;
  padding: 40px 20px;
  text-align: center;
  margin: 0 -20px;
}