// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
// Modify this for custom colors, font-sizes, etc
@import "../bower_components/bootstrap/less/mixins.less";

.equifit {

  .modified {
    text-transform: none;
  }

  .container {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .container {
      width: 100%;
    }
  }

  .header {
    margin-bottom: 20px;

    .modified {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 12px;
      color: #ccc;
    }
  }
  .nav {
    margin: 20px 0 40px 0;
    border: 1px solid #ededed;
    border-radius: 6px;
    a {
      color: #444;
      &:hover {
        background-color: transparent;
        color: #444;
      }
    }

    .icon-chevron-right {
      margin-right: -6px;
      opacity: .25;
    }
  }

  .nav-jump-menu {
    background: #ccc;
    padding: 40px 20px;
    text-align: center;
    margin: 0 -20px;
  }

  .btn-group {
    margin-bottom: 20px;
  }

  .alert {
    border-radius: 0;
    box-shadow: none;
    margin: 20px 0;
  }

  .label,
  .badge {
    font-weight: normal;
    text-transform: none;
  }

  .badge-important {
    background-color: #e96a71;
    color: white;
    text-shadow: none;
  }

  .badge-success {
    background-color: #84bd5f;
    color: white;
    text-shadow: none;
  }

  .alert-error {
    background-color: #e96a71;
    h4 {
      color: white;
      text-shadow: none;
      font-weight: normal;
    }
  }

  .consent-form-message {
    a {
      text-decoration: underline;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  // forms
  form {
    .control-group {
      //margin-bottom: 26px;
    }

    textarea{
      box-sizing: border-box;
    }

    [data-editor] ul {
      .clearfix();
    }

    .odd {
      background-color: #ebebeb;
      border: 1px solid #e5e5e5;
      padding: 10px 20px;
      margin: 10px -10px;
      .border-radius(6px);
    }

    label {
      font-weight: normal;
      text-transform: none;
      p {
        font-weight: normal;
      }
    }

    ul {
      margin: 0;
      li {
        list-style-type: none;
        float: left;
        margin-right: 10px;
        background: #e5e6e8;
        padding: 5px;
        border: 1px solid #dbdbdd;
        border-radius: 7px;

        input {
          margin: -2px 5px 0 0;
          padding: 10px;
        }
        label {
          margin: 0;
        }
      }
    }

    .bbf-checkboxes {
      li{
        width: 32%;
        box-sizing: border-box;
        margin-bottom: 10px;
        label {
          display: inline-block;
        }
      }
    }

    .bbf-radiobuttons{
      li{
        width: 47%;
        box-sizing: border-box;
        label {
          display: inline-block;
        }
      }
    }

    @media (max-width: 480px) {
      .bbf-checkboxes,
      .bbf-radiobuttons {
        li{
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    select[data-type="date"] {
      .makeColumn(1);
      margin-left: 0;
    }
    select[data-type="month"] {
      .makeColumn(2);
    }
    select[data-type="year"] {
      .makeColumn(2);
    }

    .help-block.warning {
      //clear: left;
      color: #c09853;
      padding: 8px 35px 8px 14px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      background-color: #fcf8e3;
      border: 1px solid #fbeed5;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      margin: 0 0 40px;
    }
  }
}

.modal-header {
  background: transparent;
  color: black;
}

.modal .close {
  color: black;
  opacity: 1;
}

.spinner-block {
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 1px 1px 10px 10px rgba(160, 160, 160, 0.1);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 10px rgba(160, 160, 160, 0.1);
  height: 96px;
  left: -48px;
  position: absolute;
  top: -36px;
  width: 96px;
}

.spinner-block small {
  bottom: 6px;
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 96px;
}

.block-view {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: .50;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1;
}

