.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.equifit .page-header {
  margin-bottom: 20px;
  background: #313439;
  line-height: normal;
}
.equifit .page-header h1 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
.equifit .page-header .modified {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 12px;
  color: #a2a9b3;
  text-transform: none;
}
.equifit .container {
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 768px) and (max-width: 979px) {
  .equifit .container {
    width: 100%;
  }
}
.equifit .breadcrumb {
  margin-bottom: 0;
}
.equifit .nav {
  margin: 20px 0 40px 0;
  border: 1px solid #ededed;
  border-radius: 6px;
}
.equifit .nav a {
  color: #444;
}
.equifit .nav a:hover {
  background-color: transparent;
  color: #444;
}
.equifit .nav .icon-chevron-right {
  margin-right: -6px;
  opacity: .25;
}
.equifit .nav-jump-menu {
  background: #ccc;
  padding: 40px 20px;
  text-align: center;
  margin: 0 -20px;
}
.equifit .btn-group {
  margin-bottom: 20px;
}
.equifit .alert {
  border-radius: 0;
  box-shadow: none;
  margin: 20px 0;
}
.equifit .label,
.equifit .badge {
  font-weight: normal;
  text-transform: none;
}
.equifit .badge-important {
  background-color: #e96a71;
  color: white;
  text-shadow: none;
}
.equifit .badge-success {
  background-color: #84bd5f;
  color: white;
  text-shadow: none;
}
.equifit .alert-error {
  background-color: #e96a71;
}
.equifit .alert-error h4 {
  color: white;
  text-shadow: none;
  font-weight: normal;
}
.equifit .consent-form-message a {
  text-decoration: underline;
  color: white;
}
.equifit .consent-form-message a:hover {
  text-decoration: none;
}
.equifit form .sub-form {
  margin: 0 -20px;
  padding: 10px 20px 0;
  background-color: #eaeaea;
}
.equifit form textarea {
  box-sizing: border-box;
}
.equifit form .odd {
  background-color: #ebebeb;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin: 10px -10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.equifit form label {
  font-weight: normal;
  text-transform: none;
}
.equifit form label p {
  font-weight: normal;
}
.equifit form ul {
  margin: 0;
  line-height: normal;
}
.equifit form ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  background: #e5e6e8;
  padding: 5px;
  border: 1px solid #dbdbdd;
  border-radius: 7px;
}
.equifit form ul li input {
  margin: -2px 5px 0 0;
  padding: 10px;
}
.equifit form ul li label {
  margin: 0;
}
.equifit form .bbf-checkboxes {
  margin-bottom: 0;
}
.equifit form .bbf-checkboxes li {
  width: 32%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.equifit form .bbf-checkboxes li label {
  display: inline-block;
}
.equifit form .bbf-radiobuttons {
  margin-bottom: 0;
}
.equifit form .bbf-radiobuttons li {
  box-sizing: border-box;
}
.equifit form .bbf-radiobuttons li label {
  display: inline-block;
}
@media (max-width: 480px) {
  .equifit form .bbf-checkboxes li,
  .equifit form .bbf-radiobuttons li {
    width: 100%;
    margin-bottom: 10px;
  }
}
.equifit form .help-block {
  margin-bottom: 0;
}
.equifit form [data-target="help"] .help-block {
  display: none;
  color: #c09853;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 0 20px;
}
.equifit form .date select {
  width: 100%;
}
@media (min-width: 480px) {
  .equifit form .date select {
    width: 32%;
  }
}
.equifit form .gender select,
.equifit form .age select,
.equifit form .club select {
  width: 100%;
}
.equifit .dropdown-menu > li > a:hover,
.equifit .dropdown-menu > li > a:focus,
.equifit .dropdown-submenu:hover > a,
.equifit .dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #61a3bd;
  background-image: none;
}
.modal-header {
  background: transparent;
  color: black;
}
.modal .close {
  color: black;
  opacity: 1;
}
.spinner-block {
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 1px 1px 10px 10px rgba(160, 160, 160, 0.1);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 10px rgba(160, 160, 160, 0.1);
  height: 96px;
  left: -48px;
  position: absolute;
  top: -36px;
  width: 96px;
}
.spinner-block small {
  bottom: 6px;
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 96px;
}
.block-view {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: .50;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1;
}
