.equifit {

  .container {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .container {
      width: 100%;
    }
  }

  .header {
    margin-bottom: 20px;
  }
  .nav {
    margin: 20px 0 40px 0;
    border: 1px solid #ededed;
    border-radius: 6px;
    a {
      color: #444;
      &:hover {
        background-color: transparent;
        color: #444;
      }
    }

    .icon-chevron-right {
      margin-right: -6px;
      opacity: .25;
    }
  }

  .nav-jump-menu {
    background: #ccc;
    padding: 40px 20px;
    text-align: center;
    margin: 0 -20px;
  }

  .alert {
    border-radius: 0;
    box-shadow: none;
    margin: 20px 0;
  }
}