<header class="page-header gradient-dark full-width">
    <h1>Lifestyle</h1>
</header>
<div class="container">
    <section>
        <h2>Stress</h2>

        <div class="row-fluid">
            <div class="span6">
                what do you do for living, and how stressful is your day?
            </div>
            <div class="span6">
                graph
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                Do you feel exercise helps you in managing your stress?
            </div>
            <div class="span6">
                graph
            </div>
        </div>
    </section>

    <section>
        <form class="form-horizontal">
            <fieldset>
                <legend>Nutrition</legend>
                <div class="control-group">
                    <label class="control-label" for="inputTimes">How many times you eat and basic content of
                        diet?</label>

                    <div class="controls">
                        <input type="text" id="inputTimes" placeholder="">
                    </div>
                </div>
                <div class="control-group">
                    Do you feel you need to change anything with regards to your nutrition?
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        No
                    </label>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputTimes">What types of liquids do you typically drink?</label>

                    <div class="controls">
                        <textarea rows="3"></textarea>
                    </div>
                </div>

            </fieldset>
        </form>


        <div class="row-fluid">
            <div class="span6">
                What types of liquids do you typically drink?
            </div>
            <div class="span6">
                text field
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                How much water do you take in daily?

            </div>
            <div class="span6">
                text field
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                Before we get started with assessments, do
                you have any additional comments or is there
                anything we did not cover?
            </div>
            <div class="span6">
                yes | no
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                notes
            </div>
            <div class="span6">
                text field
            </div>
        </div>
    </section>
</div>


<div class="row">
    <span class="span6">Next: Exersize history</span>
    <span class="spam6">
        <a href="/equifit/exercise-history" class="btn btn-primary">go</a>
    </span>
</div>