<header class="page-header gradient-dark full-width">
    <h1>Personal Info</h1>
</header>
<div class="container">
    <p>I am</p>
    <input type="text" placeholder="first name" value="">
    <input type="text" placeholder="last name" value="">

    <p>Kelly Jaskson is</p>
    <select>
        <option>Male</option>
        <option selected="selected">Female</option>
    </select>

    <select>
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
    </select>

    <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <select>
        <option>1980</option>
        <option>1981</option>
        <option>1982</option>
    </select>

    <p>Date of Equifit</p>
    <select>
        <option>January</option>
        <option>February</option>
        <option selected="selected">March</option>
        <option>April</option>
        <option>May</option>
    </select>

    <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <select>
        <option>2014</option>
        <option>2015</option>
        <option>2016</option>
    </select>

    at
    <select>
        <option>Tribeca</option>
        <option>Broadway</option>
        <option>Park Ave.</option>
    </select>

</div>

<div class="row">
    <span class="span6">Next: Healf qualification</span>
    <span class="spam6">
        <a href="/equifit/medical-questions" class="btn btn-primary">go</a>
    </span>
</div>